
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: rgb(0, 18, 48);
    color: white;
    padding: 20px;
   
}
.nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(255, 232, 202);
}
h1 {
    margin: 0;
    font-size: 120px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 232, 202)
}

ul {
    list-style: none;
    color: rgb(255, 232, 202)
}
.player {
    list-style: none;
    padding: 20px;
    display:block;
    background-color: rgb(12, 76, 100);
    border-radius: 20px;
    font-size: 30px;
    width: 40%;
    margin: 20px auto;
    transition: width 0.5s;
}

.player:hover{
    width:80%;
    transition: width 0.5s;
}
p {
    font-size: 40px;
    color: rgb(255, 232, 202)
}
.name {
    font-size: 70px;
}

.line-and-prop {
    display: flex;
    justify-content: space-between;
    font-size: 50px;
}
button {
    outline: none;
    border: none;
    line-height: normal;
    background-color:rgb(255, 232, 202);
    padding: 20px 40px;
    margin-bottom: 50px;
    border-radius: 20px;
    font-size: 40px;
    display: block;
    margin: auto;
}
button:hover {
    cursor: pointer;
}

button:active {
    background-color:rgba(123, 220, 220, 0.7);
}